// - - - - - - - - - - - - - - - - - - - - - - - -  //
// - - - - - - -  B A S E . S C S S - - - - - - - -  //
// - - - - - - - - - - - - - - - - - - - - - - - - - //

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Nunito+Sans:400,700,800|Montserrat:300,400,500,700");
@font-face {
  font-family: Brandon regular;
  src: url(../fonts/brandon_re.ttf);
}
@font-face {
  font-family: Brandon bold;
  src: url(../fonts/Brandon_bld.otf);
}
@font-face {
  font-family: mark pro bold;
  src: url(../fonts/MarkPro-Bold.otf);
}

$mp-bold: mark pro bold;
$opensans: Open Sans;
$montserrat: Montserrat;
$nunito: Nunito Sans;
$bb-bold: Brandon bold;
$bb-reg: Brandon regular;

$colors: (
  green: #3eb89b,
  green2: #36a49e,
  black: #24282c,
  grey: #848585,
  white: #fff
);

// - - Functions - -
@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin bg-gradient {
  background: -webkit-linear-gradient(
    309deg,
    rgb(52, 161, 136) 0%,
    rgb(67, 189, 171) 68%,
    rgb(54, 164, 159) 100%
  );
  background: -o-linear-gradient(
    309deg,
    rgb(52, 161, 136) 0%,
    rgb(67, 189, 171) 68%,
    rgb(54, 164, 159) 100%
  );
  background: linear-gradient(
    39deg,
    rgb(52, 161, 136) 0%,
    rgb(67, 189, 171) 68%,
    rgb(54, 164, 159) 100%
  );
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

body,
html {
  width: 100%;
  max-width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen,
    ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
  padding: 0px;
  margin: 0px;
  background: #f8f8f8;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a,
span,
input,
select,
.radio-label {
  
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px 0;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen,
    ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
}

button {
  
}

input:focus,
select:focus,
textarea:focus,
button:focus,
div:focus,
div:active {
  outline: none;
  outline: 0;
}

* {
  outline: none;
  outline: 0;
}

.clear {
  clear: both;
}

code {
  background-color: #f7f8fa;
  padding: 0.15rem 0.25rem;
  border-radius: 4px;
  font-size: 87.5%;
  color: darken(color(green),12%);
  word-break: break-word;
}

table {
  border-collapse: collapse;

  th,
  td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #ebedf2;
  }
}

th {
  text-align: inherit;
}

input {
  @include placeholder {
    color: #bdbdbd;
  }
}

sup {
  font-size: 16px;
  margin-right: 5px;
}

//right panel width
@mixin r-p-width {
  width: calc(100% - 70px);
}

//right panel width submenu active
@mixin r-p-width-a {
  width: calc(100% - 330px);
}
