@import "base";

.menu-master {
  font-family: $mp-bold;
  color: #57585c;
  color: var(--color-text);
  background-color: #f8f8f8;
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}  

/* - - - - - C A R D  M A S T E R  S T Y L I N G - - - - - */

.right-panel {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
  }

  .inside-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 12px;
    margin-left: 12px;
  }

  .card {
    position: relative;
    float: left;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 7px 3.5px 12px 0px rgba(48, 49, 96, 0.15);
    overflow: hidden;
    transition: all 0.32s linear;

    &:hover {
      transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
    }
    input{
      text-align: left;
    }
    span.number{
      position: absolute;
      top: 29px;
      left: 10px;
    }
    input.number{
      padding-left: 35px;
    }
    .card-body {
      padding: 20px;
    }

    .card-title {
      font-weight: 500;
      padding: 5px 0;
      font-family: $montserrat;
      text-transform: uppercase;
      font-size: 10.5px;
      letter-spacing: .5px;
      position: relative;
      z-index: 2;
      // color: #464457;
      // border-bottom: 1px solid #ddd;

      &.small {
        letter-spacing: 0.6px;
      }
    }

    h1 {
      z-index: 2;
      position: relative;
    }

    .card-icon {
      position: absolute;
      bottom: -72%;
      right: -20px;
      z-index: 0;

      &.big {
        img {
          height: 100px;
        }
      }

      &.small {
        img {
          height: 70px;
        }
      }

      img {
        height: 70px;
        opacity: .6;
      }
    }

    .card-content {
      // padding: 0 20px 20px;
      // font-weight: 400;
    }

    &.index {
      min-height: 125px;
    }
  }
}

.col-auto{
  padding-right: 12px;
  padding-left: 12px;
  position: relative;
  
  &.right{
    margin-left: auto;
  }
  .card {
    background: transparent !important;
    box-shadow: 0 0 0 transparent !important;
  }

}
.col-2-4,
.col-4,
.col-3,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-12,
.col-25 {
  padding-right: 12px;
  padding-left: 12px;
  flex: 1;
  position: relative;
}

.col-25 {
  max-width: 20vw;
}
.col-2-4 {
  max-width: 24%;
}
.col-3 {
  max-width: 25%;
}
.col-4 {
  max-width: 33.33333%;
}
.col-5 {
  max-width: 41.66667%;
}
.col-6 {
  max-width: 50%;
}
.col-7 {
  max-width: 58.33333%;
}
.col-8 {
  max-width: 66.66667%;
}
.col-9 {
  max-width: 75vw;
}
.col-12 {
  max-width: 100%;
}

/* - - - - - S P A C I N G - - - - - */

$sizes: (
  20: 20px,
  15: 15px,
  10: 10px
);

@each $element, $size in $sizes {
  .p-#{$element}-c {
    padding: 0 $size;
  }

  .p-#{$element}-l {
    padding-left: $size;
  }

  .p-#{$element}-r {
    padding-right: $size;
  }

  .m-#{$element}-vc {
    margin-top: $size;
    margin-bottom: $size;
  }
}

/* - - - - - N A V B A R  M E N U - - - - - */

.navbar-menu {
  @include r-p-width;
  padding: 15px 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  right: 0;
  z-index: 3;
  height: 70px;
  color: color(white);
  text-shadow: 1px 1px 2px rgba(22, 22, 22, 0.2);
  transition: all 0.4s ease-in-out;

  &.submenu-active {
    @include r-p-width-a;
    transition: all 0.32s ease-in-out;
  }

  .navbar-right {
    float: right;
    margin-right: 25px;

    & > i {
      font-size: 20px;
      margin: 0 10px;
      margin-top: 10px;
    }
  }

  .user-info-frame {
    margin-top: 0;
    position: relative;
    width: 200px;
    float: right;

    .image {
      position: relative;
      float: right;
      width: 50px;
      height: 50px;
      text-align: center;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .content {
      position: relative;
      float: left;
      text-align: right;
      width: calc(100% - 60px);
      color: #fff;
      padding-left: 10px;

      .name {
        margin-top: 5px;
        font-size: 1em;
      }

      .status {
        font-size: 0.3em;
        text-transform: uppercase;
        font-family: $bb-bold;
        letter-spacing: 3px;
      }
    }
  }

  .search-bar-frame {
    max-width: 500px;
    width: 30%;
    margin-top: 5px;
    float: left;
    margin-left: 20px;
    transition: all 0.32s ease-in-out;
    transition-delay: 0.2s;

    .search-bar {
      background: rgba(255, 255, 255, 0.5);
      border-radius: 50px;
      box-shadow: 6.364px 6.364px 10px 0px rgba(53, 55, 60, 0.06);
      padding: 6px 30px;
      transition: all 0.2s ease-in-out;
      position: relative;

      input {
        border: none;
        outline: none;
        background: transparent;
        font-family: $nunito;
        font-size: 17px;
        color: #fff;
      }
      input::-webkit-input-placeholder {
        color: color(white);
      }

      button {
        border: none;
        outline: none;
        background: transparent;
        font-size: 18px;
        width: 40px;
        height: 40px;
        position: absolute;
        top: -2px;
        right: 20px;
        color: #fff;
        transition: all 0.7s linear;
      }
    }
  }

  &.scroll-active {
    background: color(green2);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 2px 6px rgba(131, 133, 220, 0.16);
    transition: all 0.3s ease-in-out;
    padding: 10px 0;
    visibility: hidden;
  }
}

/* =-=-=-=- COLOR SETTINGS =-=-=-=-= */

$color-success: #10cfbd;
$color-primary: #6d5cae;
$color-secondary: #e2e5ec;
$color-warning: #f7cf5f;
$color-danger: #f55753;
$color-info: #41b0e9;
$white: #fff;

$text-grey: #a7a7a7;
$text-dark: #626262;

.bg-success {
  background: $color-success !important;
}
.bg-primary {
  background: $color-primary !important;
}
.bg-warning {
  background: $color-warning !important;
}
.bg-danger {
  background: $color-danger !important;
}
.bg-info {
  background: $color-info !important;
}

.text-success {
  color: $color-success !important;
}
.text-primary {
  color: $color-primary !important;
}
.text-warning {
  color: $color-warning !important;
}
.text-danger {
  color: $color-danger !important;
}
.text-info {
  color: $color-info !important;
}
.text-white {
  color: $white !important;
}

/* =-=-=-=- FONT STYLINE SETTINGS =-=-=-=-= */

h1 {
  font-size: 30px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}

.font-montserrat {
  font-family: $montserrat;
}

.all-caps {
  text-transform: uppercase;
}

.no-margin {
  margin: 0 !important;
}

.bold {
  font-weight: 700;
}
.sm-bold {
  font-weight: 500;
}

.fs-11 {
  font-size: 11px !important;
}
.fs-12 {
  font-size: 12px !important;
}
.fs-13 {
  font-size: 13px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-15 {
  font-size: 15px !important;
}
.fs-20 {
  font-size: 20px !important;
}

/* =-=-=-=- ICON SETTINGS =-=-=-=-= */

.icon-widget {
  border-radius: 50%;
  position: relative;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.2);

  &.size-lg {
    width: 80px;
    height: 80px;
    line-height: 80px;
  }
  &.size-m {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  &.size-s {
    width: 45px;
    height: 45px;
    line-height: 45px;
  }
  &.size-xs {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

.pull-right {
  float: right !important;
}


/* - - - - - B U T T O N  S T Y L I N G - - - - - */

.button-row {
  width: 100%;
  // display: flex;
  // flex-wrap: wrap;
  padding: 5px 0;
}

.btn [class^="fa-"], .btn [class*=" fa-"] {
  font-size: 1.2rem;
}

.btn {
  display: inline-block;
  font-weight: normal;
  text-transform: capitalize;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 3px;
  cursor: pointer;
  transition: all .32s linear;
  margin: 5px;

  &.icon-only {
    margin: 5px 0;
    border: 0px solid transparent;
    padding: 0 0;
    background-color: transparent !important;

    i {
      font-size: 1.3rem !important;
    }

    &.btn-danger {
      color: $color-danger;
    }
    &.btn-warning {
      color: $color-warning;
    }
    &.btn-primary {
      color: $color-primary;
    }

    &.btn-danger,
    &.btn-warning,
    &.btn-primary {

      &::after {
        position:absolute;
        top: -10px;
        left: -28%;
        width: 60px;
        padding: 2px;
        background: rgba(55,55,55,0.6);
        color: color(white);
        font-size: 11px;
        font-weight: 700;
        border-radius: 4px;
        opacity: 0;
        transition: all .2s ease-out;
      }
      &:hover {
        transform: scale(1);
        transition: .1s all ease-out;
        border: transparent;

        &::after {
          opacity: 1;
          top:-20px;;
          transition: all .2s ease-out;
        }
      }

      &.btn-danger::after {
        content: 'Delete';
      }
      &.btn-warning::after {
        content: 'Edit';
      }
      &.btn-primary::after {
        content: 'View';
      }
    }
  }

  i {
    padding-right: 0.5rem;
    padding-bottom: .12rem;
    vertical-align: middle;
    line-height: 0;
  }

  // B U T T O N  W I T H  I C O N 

  &.btn-icon {
    height: 3rem;
    width: 3rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;

    i {
      padding: 0;
      margin: 0;
      line-height: 0;
    }
  }

  // B U T T O N  A N I M A T E D

  &.btn-animated {
    overflow: hidden;
    position: relative;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    text-align: center;

    i {
      position: absolute;
      left: -100%;
      top: 50%;
      transform: translateY(-50%);
      transition: all .32s;
    }

    span {
      position: relative;
      transition: all .32s;
      opacity: 1;
      visibility: visible;
    }

    &:hover {
      
      i {
        left: 50%;
        top: 50%;
        transform: translate(-40%, -50%);
      }

      span {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  // B U T T O N  C O L O R S
  $colors: (
      primary: $color-primary,
      success: $color-success,
      warning: $color-warning,
      danger: $color-danger,
      info: $color-info,
    );

  @each $color, $variable  in $colors {
    &.btn-#{$color} {
      background-color: $variable;
      border-color: $variable;
      color: #fff;

      &:hover {
        background-color: lighten($variable,10.5%);
        border-color: lighten($variable,10.5%);
        border-bottom: 1px solid lighten($variable,10.5%);
      }

      &.active, &.active:hover {
        border-bottom: 2.5px solid darken($variable, 6.5%);
      }

      &.disabled, &:disabled {
        opacity: .65;
        cursor: context-menu;

        &:hover {
          background-color: $variable;
          border-color: $variable;
          border-bottom: 1px solid $variable;
        }
      }
    }
  }

  &.btn-link {
    $color-link: #5d78ff;
    background-color: transparent;
    border-color: transparent;
    color: $color-link;

    &:hover {
      background-color: $color-link;
      border-color: $color-link;
      border-bottom: 1px solid lighten($color-link,10.5%);
      color: #fff;
      text-decoration: underline;
    }

    &.active, &.active:hover {
      border-bottom: 2.5px solid darken($color-link, 7.5%);
      background-color: $color-link;
      color: #fff;
      text-decoration: underline;
    }
  }

  &.btn-secondary {
    background-color: transparent;
    border: 1px solid #e2e5ec;
    color: #6c7293;
  }

  // B U T T O N  O U T L I N E
  $ot-colors: (
      primary: $color-primary,
      success: $color-success,
      warning: $color-warning,
      danger: $color-danger,
      info: $color-info,
    );

  @each $color, $variable  in $ot-colors {
    &.btn-#{$color}-outline {
      background-color: transparent;
      border: 1.5px solid $variable;
      color: $variable;

      &:hover, 
      &.active {
        background-color: $variable;
        border-color: $variable;
        color: #fff;
      }

      &.active {
        border-color: darken($variable,10%);
        background-color: darken($variable,10%);
      }

      &.disabled, &:disabled {
        opacity: .65;
        cursor: context-menu;

        &:hover {
          background-color: transparent;
          border: 1.5px solid $variable;
          color: $variable;
        }
      }
    }
  }

  // B U T T O N  S I Z E 

  &.btn-cons { // F O R  S E A M L E S S  W I D T H
    margin-right: 5px;
    min-width: 120px;
  }

  &.btn-lg {
    padding-left: 28px;
    padding-right: 28px;
    line-height: 23px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 1.15rem;
  }

  &.btn-sm {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 11.9px;
    line-height: 20px;
  }

  &.btn-xs {
    padding: 2px 9px;
    font-size: 10.5px;
  }

  // B U T T O N  S T Y L E 

  $oth-colors: ( // O U T L I N E  H O V E R
    primary: $color-primary,
    success: $color-success,
    warning: $color-warning,
    danger: $color-danger,
    info: $color-info,
  );

  @each $color, $variable in $ot-colors {
    &.btn-#{$color}-hover-outline {
      background-color: transparent;
      border: 1.5px solid transparent;
      // color: $variable;

      &:hover {
        background-color: transparent;
        border: 1.5px solid $variable;
        color: $variable;
      }

      &.active {
        background-color: $variable;
        border: 1.5px solid $variable;
        color: #fff;
        border-bottom: 2.5px solid darken($variable,6.5%);
      }

      &.disabled, &:disabled {
        opacity: .65;
        cursor: context-menu;
        background-color: transparent;
        border: 1.5px solid $variable;
        color: $variable;

        &:hover {
          background-color: transparent;
          border: 1.5px solid $variable;
          color: $variable;
        }
      }
    }
  }

  // R A D I U S  S T Y L E

  &.btn-rad {
    border-radius: 100px;
  }

  // E L E V A T E  E F F E C T

  &.btn-elevate {
    
    &:hover {
      -webkit-transform: translate(0, -4px);
      transform: translate(0, -4px);

      &.btn-primary {
        box-shadow: 0px 9px 16px 0px rgba(125, 101, 220, .25) !important;
      }

      &.btn-success {
        box-shadow: 0px 9px 16px 0px rgba(31, 244, 223, .25) !important;
      }

      &.btn-warning {
        box-shadow: 0px 9px 16px 0px rgba(250, 198, 56, .25) !important;
      }

      &.btn-danger {
        box-shadow: 0px 9px 16px 0px rgba(251, 28, 24, .25) !important;
      }

      &.btn-info {
        box-shadow: 0px 9px 16px 0px rgba(21, 170, 244, .25) !important;
      }
    }
  }

  &.active {
    border-bottom: 2.5px solid darken(#dddddd, 16.5%);
  }
}

/* - - - - - B U T T O N  G R O U P - - - - - */

.btn-group {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;

  .btn {
    margin: 0;
    border-radius: 4px;
    margin-right: 6px;

    &:not(:first-child):not(.dropdown-toggle) {
      
      margin-left: 10px;
    }

    &:not(:last-child):not(.dropdown-toggle) {
      // border-top-right-radius: 0;
      // border-bottom-right-radius: 0;
      margin-right: -1px;
    }

    &.dropdown-toggle {

      &.active {
        background-color: $color-secondary;
      }
      
      &:after {
        text-align: center;
        display: inline;
        border: 0;
        font-size: 0.6rem;
        line-height: 0;
        vertical-align: middle;
        position: relative;
        margin-left: 0.5rem/*rtl:ignore*/;
        opacity: 0.7;
        font-family: 'Font Awesome\ 5 Free';
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        text-decoration: inherit;
        text-transform: none;
        content: "\f078";
        font-weight: 900;
      }
    }
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    min-width: 14rem;
    left: 0;
    border-radius: 4px;
    padding: .5rem 0;
    background-color: #fff;
    color: #6c7293;
    box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);

    .dropdown-item {
      display: block;
      padding: 5px 18px;
      transition: all .32s;

      &:hover {
        background-color: darken(#f9f9f9,5%);
      }
    }

    &.from-top {
      bottom: 100%;
    }

    &.from-bottom {
      top: 100%;
    }

    &.show {
      display: block;
    }
  }
}

/* - - - - - S E P A R A T O R - - - - - */

.separator {
  margin: 0.5rem 0;
  height: 0;
  border-bottom: 1px solid #ebedf2;

  &.separator-dashed {
    border-bottom: 1px dashed #ebedf2;
  }
}

/* - - - - - F O R M - - - - - */

.form {

  .form-label {
    font-family: $montserrat;
    font-size: 10px;
    letter-spacing: .06em;
    text-transform: uppercase;
    font-weight: 500;
  }

  .form-control {
    border: none;
    width: 100%;
    min-height: 30px;
    padding: 8px 0;
    margin-top: -4px;
    background: 0 0;
    font-size: 16px;
    color: #36A49E;
  }

  &.date-picker {
    margin-top: 20px;
    margin-bottom: -20px;
    overflow: visible;
    z-index: 9;
    position: relative;

    .form-group {
      overflow: visible;
      padding-bottom: 10px;

      .react-date-picker {
        display: flex;

        .react-date-picker__wrapper {
          border-color: transparent;
          border-bottom: 1px solid $color-success;
          padding: 5px 0;
        }
      }
    }
  }

  &-group {
    background-color: #fff;
    position: relative;
    border: 1px solid rgba(0,0,0,.07);
    border-radius: 4px;
    padding: 7px 12px 4px;
    overflow: hidden;
    width: 100%;
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease;
    margin-bottom: 1rem;
    color: $text-dark;

    &.upload-csv {
      width: 100%;
      max-width: 300px;
      height: 120px;

      .dropify-wrapper {
        height: 100px !important;
      }
    }
    &.focused {
      background-color: #f0f0f0;
      border-color: rgba(0,0,0,.1);
    }

    &.disabled {
      background: #f8f8f8;
      color: rgba(98,98,98,.48);
      cursor: context-menu;
    }

    &.form-group-default {
      border: none;
      border-right-style: none;
      padding: 7px 0 4px;
      margin-bottom: 0px;

      .hint-text {
        font-size: 13px;
        color: $text-grey;
        margin-left: 10px;
        letter-spacing: .02em;
      }

      .form-control {
        border: 1px solid rgba(0,0,0,.07);
        border-radius: 4px;
        min-height: 35px;
        padding: 5px 8px;
        margin-top: 8px;
      }

      &.focused {
        background-color: transparent;
        border: none;
      }

      &.disabled {
        background: transparent;
        color: rgba(98,98,98,.48);
        
        .form-control {
          background: #f8f8f8;
          cursor: context-menu;
        }
      }
    }
  }

  .radio {
    background-color: #fff;
    position: relative;
    padding: 7px 12px 4px;
    overflow: hidden;
    width: 100%;

    input[type=radio] {
      opacity: 0;
      height: 0;
      width: 0;
    }

    input[type="radio"]:checked {

      + label {
        
        &:after {
          border-width: 5px;
        }
      }
    }

    .radio-label {
      display: inline-block;
      cursor: pointer;
      position: relative;
      padding-left: 25px;
      margin-right: 15px;
      min-width: 17px;
      min-height: 17px;
      font-size: 13px;
      line-height: 20px;
      margin-bottom: 0;
      text-transform: capitalize;

      &:after {
        -webkit-box-sizing: inherit;
        box-sizing: border-box;
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        margin-right: 10px;
        position: absolute;
        left: 0;
        background-color: #fff;
        border: 1px solid #d0d0d0;
        bottom: 2.5px;
        border-radius: 99px;
        -webkit-transition: border .3s 0s cubic-bezier(.455,.03,.215,1.33);
        transition: border .3s 0s cubic-bezier(.455,.03,.215,1.33);
      }
    }

    $rad-colors: (
      primary: $color-primary,
      success: $color-success,
      warning: $color-warning,
      danger: $color-danger,
      info: $color-info,
    );

    @each $element, $color in $rad-colors {
      &-#{$element} {
        
        input[type="radio"]:checked {

          + label {
            
            &:after {
              border-color: $color;
            }
          }
        }
      }
    }
  }

  .input-group {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

    &-prepend {
      margin-right: -1px;
      margin-top: -4px;

      .input-group-icon {
        color: rgba(98,98,98,.47);
        font-size: 14px;
        border: 1px solid rgba(0,0,0,.07);
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 2px;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding: .375rem .75rem;
        min-height: 35px;
      }
    }

    .form-control {
      background-color: #fff;
      border: 1px solid rgba(0,0,0,.07);
      -webkit-appearance: none;
      color: #2c2c2c;
      outline: 0;
      padding: 8px 12px;
      line-height: normal;
      font-size: 14px;
      vertical-align: middle;
      min-height: 35px;
    }
  }
}

/* - - - - - T A B S  &  A C C O R D I O N - - - - - */

/* - - - - - A C C O R D I O N  - - - - - */

.accordion-group {
  display: block;
  margin-bottom: 18px;

  .accordion {
    border: 1px solid rgba(0,0,0,.07);
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 5px;

    &-header {
      background: 0 0;
      border-radius: 0;
      border-bottom: 0;
      padding: 15px 20px 7px;
      position: relative;
      font-family: $montserrat;
      color: $text-dark;
      letter-spacing: .06em;
      font-size: 12px;
      z-index: 3;
      min-height: 48px;
      cursor: pointer;

      i {
        font-size: 9px;
        padding: 3px;
        text-align: center;
        background-color: $text-grey;
        color: #fff;
        border-radius: 50px;
      }
    }

    &-body {
      min-height: auto;
      padding: 20px;
      transition: all .32s;
    }

    &.expanded {
      
    }
  }
}

.collapse {
  display: none;
}

/* - - - - - T A B S  - - - - - */

.tabs-group {
  position: relative;
  width: 100%;

  ul.nav-tabs {
    background-color: #fff;
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom : 1px solid rgba(0,0,0,0.2);

    li.tab-item {
      background: none;
      color: #222;
      display: inline-block;
      padding: 15px 15px;
      margin-right: 5px;
      cursor: pointer;
      transition: all .32s;
      position: relative;
      font-family: $montserrat;
      color: rgba(0,0,0,0.65);
      letter-spacing: 0;
      font-size: 14px;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      background-color: #eaeaea;

      &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        height: 0;
        width: 100%;
        z-index: 0;
        background-color: #fff;
        transition: all .32s;
      }

      &.current {
        border : 1px solid rgba(0,0,0,0.2);
        background: #fff;
        font-weight: 500;
        color: color(black);

          &:after {
          background-color: #fff;
          height: 4px;

        }
      }
 
      &:hover {
        box-shadow: -2px -2px 8px rgba(55,55,55,0.2);

        &:after {
          
        }
      }
    }
  }

  .tab-content {

    .tab-pane {
      display: none;
      background: #fff;
      padding: 15px;

      &.current {
        display: block;
      }
    }
  }

  &.tabs-left {
    display: flex;

    ul.nav-tabs {
      padding-bottom: 20px;
      border-bottom: none;
      border-right: 1px solid $text-grey;

      li.tab-item {
        display: block;
        border-bottom: none;
        border-right: 1px solid $text-grey;
        margin-right: -1px;

        &:after {
          right: 0;
          left: auto;
          top: 0;
          height: 100%;
          width: 0;
          transform: rotate(-180deg);
        }

        &.current, 
        &:hover {

          &:after {
            width: 4px;
          }
        }
      }
    }
  }

  &.tabs-right {
    display: flex;
    flex-direction: row-reverse;

    ul.nav-tabs {
      padding-bottom: 20px;
      border-bottom: none;
      border-left: 1px solid $text-grey;

      li.tab-item {
        display: block;
        border-bottom: none;
        border-left: 1px solid $text-grey;
        margin-left: -1px;

        &:after {
          right: 100%;
          top: 0;
          height: 100%;
          width: 0;
        }

        &.current, 
        &:hover {

          &:after {
            width: 4px;
          }
        }
      }
    }
  }
}

/* - - - - - T A B L E  - - - - - */

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  background-color: transparent;
  font-family: $opensans;
  font-size: 13px;

  thead {

    th {
      border-top: 0;
      font-weight: 500;
      vertical-align: bottom;
      border-width: 1px;
      padding-top: 1rem;
      padding-bottom: 1rem;
      text-align: left;
      font-family: $montserrat;
      font-size: 11px;
      letter-spacing: .5px;
      text-transform: uppercase;
    }

    &.thead-green {
      $green: #e4fffa;
      $green-dark: #36a59f;

      color: $green-dark;
      background-color: $green;
      border-color: $green;

      th:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      th:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }

  &.table-bordered {
    border: 1px solid #ebedf2;

    th,
    td {
      border: 1px solid #ebedf2;
    }
  }

  &.no-border {
    th,
    td {
      border-width: 0;
    }
  }

  &.table-striped {

    tbody {

      tr:nth-of-type(odd) {
        background-color: #f7f8fa;
      }
    }
  }

  &.table-hover {
    
    tbody {

      tr {
        transition: all .32s;

        &:hover {
          color: #212529;
          background-color: #fafbfc;
        }
      }
    }
  }
}


.switch-control {
  position: relative;
  display: block;
  min-height: 1.5rem;

  $switch-colors: (
    primary: $color-primary,
    success: $color-success,
    warning: $color-warning,
    danger: $color-danger,
    info: $color-info,
  );

  @each $element, $color in $switch-colors {
    &.switch-#{$element} {
      
      .switch {
        input:checked + .slider {
          background-color: $color;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px $color;
        }
      }
    }
  }

  .switch {
    position: absolute;
    left: 0;
    width: 1.75rem;
    height: 1rem;
    top: .15rem;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    input:disabled + .slider {
      cursor: auto;
      background-color: darken(#ccc, 10%);
    }

    input:disabled + .slider:before {
      background-color: darken(#fff, 5%);
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(.75rem);
      -ms-transform: translateX(.75rem);
      transform: translateX(.75rem);
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 1rem;

      &:before {
        position: absolute;
        content: "";
        height: calc(1rem - 4px);
        width: calc(1rem - 4px);
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
      }
    }
  }

  .switch-label {
    padding-left: 2.25rem;
    display: inline-block;
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 0;
    text-transform: capitalize;
  }
}

/* - - - - - M O D A L - - - - - */

.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
  z-index: 6;
  transition: all .3s;
  visibility: hidden;
  opacity: 0;
  overflow-y: scroll;

  span.modal-outsider {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .modal-wrapper-inner {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    // min-height: 100%;
    padding: 150px 0;
    display: flex;
    justify-content: center;
  }

  &.modal-active {
    visibility: visible;
    opacity: 1;
  }
}
.modal {
  position: relative;
  background-color: #fff;
  min-height: 200px;
  min-width: 700px;
  border-radius: 16px;
  // left: 50%;
  // transform: translate(-50%, -50%);
  padding: 15px 0;
  transition: all .3s;
  visibility: hidden;
  opacity: 0;
  // top: 75%;
  z-index: 2;

  &.modal-active {
    visibility: visible;
    opacity: 1;
    top: 50%;
  }

  .modal-header {
    padding: 5px 20px 20px;
    font-size: 20px;
    border-bottom: 1px dashed #ebedf2;
  }

  .modal-content {
    padding: 20px;
  }

  .modal-footer  {
    padding: 20px 20px 5px;
    font-size: 20px;
    border-top: 1px dashed #ebedf2;
    width: calc(100% - 0px * 2);
  }
}


.popover-alert{
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 280px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .white-box {
    position: relative;
    width: 100%;
    min-height: 70px;
    padding: 8px 20px;
    padding-right: 15px;
    padding-top: 15px;
    background: color(white);
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(55,55,55,0.2);
    border: 1px solid rgba(55,55,55,0.2);
    margin-top: 10px;

    .view-more-icon {
      position: absolute;
      top: 15px;
      right: 15px;
      color: color(grey);
      transition: all .2s ease-out;

      &:hover {
        color: color(black);
      } 
    }

    .text {
      font-size: 14px;
      color: color(black);
      margin-bottom: 8px;
    }
    .uploadprogressbar {
      width: 100%;
    }
  }
}