
@import 'animation.scss';
@import 'base.scss';
@import 'component.scss';
@import 'main.scss';
@import 'dashboard.scss';

.pagination ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    li {
      display: inline-block;
    }
  }