@keyframes shake {
  10%,
  90% {
    transform: rotate(1deg); }
  20%,
  80% {
    transform: rotate(2deg); }
  30%,
  50%,
  70% {
    transform: rotate(-3deg); }
  40%,
  60% {
    transform: rotate(3deg); } }

/*# sourceMappingURL=animation.css.map */
