@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Nunito+Sans:400,700,800|Montserrat:300,400");
@font-face {
  font-family: Brandon regular;
  src: url(../fonts/brandon_re.ttf); }
@font-face {
  font-family: Brandon bold;
  src: url(../fonts/Brandon_bld.otf); }
@font-face {
  font-family: mark pro bold;
  src: url(../fonts/MarkPro-Bold.otf); }
body,
html {
  width: 100%;
  max-width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
  padding: 0px;
  margin: 0px;
  background: #f8f8f8; }

*,
*::after,
*::before {
  box-sizing: border-box; }

a,
div,
span,
table,
tr,
td,
input,
select {
  
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px 0;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif; }

input:focus,
select:focus,
textarea:focus,
button:focus,
div:focus,
div:active {
  outline: none;
  outline: 0; }

* {
  outline: none;
  outline: 0; }

.clear {
  clear: both; }

/*# sourceMappingURL=base.css.map */
