input[type=text].form-control {
	-webkit-appearance:none !important;
	appearance:none !important;
	border:none;
}
input[type=number].form-control {
	-webkit-appearance:none !important;
	appearance:none !important;
	border:none;
}