
#portfolio {
  /* background: #fafafa; */
  padding: 30px 8px 8px 8px;
  min-width: 100%;
  
}
#portfolio .card_ {
  width: 220px;
  padding: 10px 0;
  margin: 0 -8px 32px -8px;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.09);
}
.card_ a{

  cursor: pointer;
}
#portfolio .card_ .card-title {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  padding: 16px;
  font-weight: 300;
  cursor: pointer;
}
#portfolio .card_ .card-data {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  padding: 16px 16px 0 0;
  font-size: 1.5rem;
  font-weight: 300;
  cursor: pointer;
}
#portfolio .card_ hr {
  width: 90%;
  color: #53e3a6;
    border: 1px #53e3a6 solid;
}
#portfolio .card_ .card-hint {
  display: -webkit-box;
  display: flex;
  padding: 8px;
  font-size: 0.9rem;
  font-weight: 300;
}
#portfolio .card_ .card-hint i {
  /* font-size: 1.3rem;
  color: red; */
  vertical-align: middle;
  margin-right: 8px;
}
#portfolio .card_ .card-icon {
  display: -webkit-box;
  display: flex;
  position: absolute;
  top: -20px;
  left: 12px;
  background: linear-gradient(60deg, #43A047, #FFEB3B);
  cursor: pointer;
  color: white;
  width: 90px;
  height: 90px;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.15);
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  border-radius: 25%;
}
#portfolio .card_ .card-icon i {
  font-size: 4rem;
}