@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Nunito+Sans:400,700,800|Montserrat:300,400");
@font-face {
  font-family: Brandon regular;
  src: url(../fonts/brandon_re.ttf); }
@font-face {
  font-family: Brandon bold;
  src: url(../fonts/Brandon_bld.otf); }
@font-face {
  font-family: mark pro bold;
  src: url(../fonts/MarkPro-Bold.otf); }
body,
html {
  width: 100%;
  max-width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
  padding: 0px;
  margin: 0px;
  background: #f8f8f8; }

*,
*::after,
*::before {
  box-sizing: border-box; }

a,
div,
span,
table,
tr,
td,
input,
select {
  
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px 0;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif; }

input:focus,
select:focus,
textarea:focus,
button:focus,
div:focus,
div:active {
  outline: none;
  outline: 0; }

* {
  outline: none;
  outline: 0; }

.clear {
  clear: both; }

.menu-master {
  --color-text: #1c1b20;
  --color-bg: #252525;
  --color-link: #caa249;
  --color-link-hover: #caa249;
  --color-bg-item1: #fff;
  --color-bg-item2: #f8f8f8;
  --color-bg-item3: #c5b892;
  --color-bg-item4: #e0cf7d;
  --color-bg-item5: #f3eacc;
  --color-item-alt: #caa249;
  --color-quote: #675b46;
  --color-info: #57535a;
  --color-title: #e23434;
  --color-tagline: #e2e2e2;
  font-family: mark pro bold;
  color: #57585c;
  color: var(--color-text);
  background-color: #f8f8f8;
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* - - - - - C A R D  M A S T E R  S T Y L I N G - - - - - */
.right-panel .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px; }
.right-panel .inside-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 12px;
  margin-left: 12px; }
.right-panel .card {
  position: relative;
  float: left;
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 7px 3.5px 12px 0px rgba(48, 49, 96, 0.15);
  overflow: hidden;
  transition: all 0.32s linear; }
  .right-panel .card:hover {
    transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1); }
  .right-panel .card .card-body {
    padding: 20px; }
  .right-panel .card .card-title {
    font-weight: 400;
    padding: 5px 0; }
    .right-panel .card .card-title.small {
      letter-spacing: 0.6px; }

.col-4,
.col-3,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-12,
.col-25 {
  padding-right: 12px;
  padding-left: 12px;
  flex: 1;
  position: relative; }

.col-25 {
  max-width: 20vw; }

.col-3 {
  max-width: 25%; }

.col-4 {
  max-width: 33.33333%; }

.col-5 {
  max-width: 41.66667%; }

.col-6 {
  max-width: 50%; }

.col-7 {
  max-width: 58.33333%; }

.col-8 {
  max-width: 66.66667%; }

.col-9 {
  max-width: 75vw; }

.col-12 {
  max-width: 100%; }

.p-20-c {
  padding: 0 20px; }

.navbar-menu {
  width: calc(100% - 70px);
  padding: 15px 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  height: 70px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(22, 22, 22, 0.2);
  transition: all 0.4s ease-in-out; }
  .navbar-menu.submenu-active {
    width: calc(100% - 330px);
    transition: all 0.32s ease-in-out; }
  .navbar-menu .navbar-right {
    float: right;
    margin-right: 25px; }
    .navbar-menu .navbar-right > i {
      font-size: 20px;
      margin: 0 10px;
      margin-top: 10px; }
  .navbar-menu .user-info-frame {
    margin-top: 0;
    position: relative;
    width: 200px;
    float: right; }
    .navbar-menu .user-info-frame .image {
      position: relative;
      float: right;
      width: 50px;
      height: 50px;
      text-align: center;
      border-radius: 50%;
      overflow: hidden; }
      .navbar-menu .user-info-frame .image img {
        width: 100%; }
    .navbar-menu .user-info-frame .content {
      position: relative;
      float: left;
      text-align: right;
      width: calc(100% - 60px);
      color: #fff;
      padding-left: 10px; }
      .navbar-menu .user-info-frame .content .name {
        margin-top: 5px;
        font-size: 1em; }
      .navbar-menu .user-info-frame .content .status {
        font-size: 0.3em;
        text-transform: uppercase;
        font-family: Brandon bold;
        letter-spacing: 3px; }
  .navbar-menu .search-bar-frame {
    max-width: 500px;
    width: 30%;
    margin-top: 5px;
    float: left;
    margin-left: 20px;
    transition: all 0.32s ease-in-out;
    transition-delay: 0.2s; }
    .navbar-menu .search-bar-frame .search-bar {
      background: rgba(255, 255, 255, 0.5);
      border-radius: 50px;
      box-shadow: 6.364px 6.364px 10px 0px rgba(53, 55, 60, 0.06);
      padding: 6px 30px;
      transition: all 0.2s ease-in-out;
      position: relative; }
      .navbar-menu .search-bar-frame .search-bar input {
        border: none;
        outline: none;
        background: transparent;
        font-family: Nunito Sans;
        font-size: 17px;
        color: #fff; }
      .navbar-menu .search-bar-frame .search-bar input::-webkit-input-placeholder {
        color: #fff; }
      .navbar-menu .search-bar-frame .search-bar button {
        border: none;
        outline: none;
        background: transparent;
        font-size: 18px;
        width: 40px;
        height: 40px;
        position: absolute;
        top: -2px;
        right: 20px;
        color: #fff;
        transition: all 0.7s linear; }
  .navbar-menu.scroll-active {
    background: #36a49e;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 2px 6px rgba(131, 133, 220, 0.16);
    transition: all 0.3s ease-in-out;
    padding: 10px 0; }

/* =-=-=-=- COLOR SETTINGS =-=-=-=-= */
.bg-success {
  background: #10cfbd !important; }

.bg-primary {
  background: #6d5cae !important; }

.bg-warning {
  background: #f7cf5f !important; }

.bg-danger {
  background: #f55753 !important; }

.bg-info {
  background: #41b0e9 !important; }

.text-success {
  color: #10cfbd !important; }

.text-primary {
  color: #6d5cae !important; }

.text-warning {
  color: #f7cf5f !important; }

.text-danger {
  color: #f55753 !important; }

.text-info {
  color: #41b0e9 !important; }

.text-white {
  color: #fff !important; }

/* =-=-=-=- FONT STYLINE SETTINGS =-=-=-=-= */
h1 {
  font-size: 1.9rem; }

h2 {
  font-size: 1.75rem; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.4rem; }

h5 {
  font-size: 1.2rem; }

h6 {
  font-size: 1rem; }

.all-caps {
  text-transform: uppercase; }

.no-margin {
  margin: 0 !important; }

.fs-11 {
  font-size: 11px !important; }

.fs-12 {
  font-size: 12px !important; }

.fs-13 {
  font-size: 13px !important; }

.fs-14 {
  font-size: 14px !important; }

.fs-15 {
  font-size: 15px !important; }

.fs-20 {
  font-size: 20px !important; }

/* =-=-=-=- ICON SETTINGS =-=-=-=-= */
.icon-widget {
  border-radius: 50%;
  position: relative;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.2); }
  .icon-widget.size-lg {
    width: 80px;
    height: 80px;
    line-height: 80px; }
  .icon-widget.size-m {
    width: 60px;
    height: 60px;
    line-height: 60px; }
  .icon-widget.size-s {
    width: 45px;
    height: 45px;
    line-height: 45px; }
  .icon-widget.size-xs {
    width: 30px;
    height: 30px;
    line-height: 30px; }

.pull-right {
  float: right !important; }

/*# sourceMappingURL=component.css.map */


.toggle-switch {
  position: relative;
  width: 75px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.toggle-switch-checkbox {
  display: none;
}
.toggle-switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #ccc;
  border-radius: 20px;
  margin: 0;
}
.toggle-switch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.toggle-switch-inner::before, .toggle-switch-inner::after {
  display: block;
  float: left;
  width: 50%;
  height: 34px;
  padding: 0;
  line-height: 34px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}
.toggle-switch-inner:before {
  content: "Yes";
  text-transform: uppercase;
  padding-left: 10px;
  background-color: #f90;
  color: #fff;
}
.toggle-switch-disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.toggle-switch-disabled::before {
  background-color: #ccc;
  cursor: not-allowed;
}
.toggle-switch-inner::after {
  content: "No";
  text-transform: uppercase;
  padding-right: 10px;
  background-color: #ccc;
  color: #fff;
  text-align: right;
}
.toggle-switch-switch {
  display: block;
  width: 24px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  border: 0 solid #ccc;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
  margin-left: 0;
}
.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
  right: 0px;
}