@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: #777;
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: #777;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: #777;
  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: #777;
  font-weight: 300;
}
.login-wrapper-g {
  background: #50a3a2;
  background: -webkit-linear-gradient(
    309deg,
    rgb(52, 161, 136) 0%,
    rgb(67, 189, 171) 68%,
    rgb(54, 164, 159) 100%
  );
  position: absolute;
  /* top: 50%; */
  left: 0;
  width: 100%;
  height: 100%;
  /* margin-top: -200px; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-wrapper-g.form-success .container h1 {
  -webkit-transform: translateY(85px);
          transform: translateY(85px);
}
.login-g-container {
  width: 400px;
  padding: 50px 0;
  /* height: 100%; */
  min-height: 460px;
  text-align: center;
  background: rgba(253, 252, 249, 0.9);
  border-radius: 0;
  box-shadow: 0px 8px 24px rgba(55,55,55,0.15);
  border-radius: 25px;
  /* border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; */
}
.login-g-container .logo-login {
  width: 180px;
  height: 65px;
  margin: 0 auto;
  position: relative;
  /* background-image: url('../images/logo-1.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  background-position: center center;
}
.login-g-container h1 {
  font-size: 40px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-put;
          transition-timing-function: ease-in-put;
}
.login-g-form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
.login-g-form input {
  /* -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; */
  outline: 0;
  border-color: transparent;
  background-color: #ffffff;
  box-shadow:inset 0 3px 6px rgba(55,55,55,0.1);
  border: 1px solid rgba(0,0,0,0.1);
  width: 260px;
  border-radius: 6px;
  padding: 12px 15px;
  margin: 20px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #111;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}
.login-g-form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.login-g-form input:focus {
  background-color: white;
  width: 290px;
  color: #111;
}
.login-g-form button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color:#10cfbd;
  border: 0;
  padding: 15px 15px;
  margin-top: 40px;
  color: #fff;
  font-weight: 700;
  border-radius: 50px;
  width: 250px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  border-bottom: 6px solid rgba(0,0,0,0.05);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.login-g-form button:hover {
  background-color: #24bbac;
  margin-top: 43px;
  border-bottom: 3px solid rgba(0,0,0,0.05);
}
.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  border-radius: 24%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
