@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Nunito+Sans:400,700,800|Montserrat:300,400");
@font-face {
  font-family: Brandon regular;
  src: url(../fonts/brandon_re.ttf); }
@font-face {
  font-family: Brandon bold;
  src: url(../fonts/Brandon_bld.otf); }
@font-face {
  font-family: mark pro bold;
  src: url(../fonts/MarkPro-Bold.otf); }
body,
html {
  width: 100%;
  max-width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
  padding: 0px;
  margin: 0px;
  background: #f8f8f8; }

*,
*::after,
*::before {
  box-sizing: border-box; }

a,
div,
span,
table,
tr,
td,
input,
select {
  
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px 0;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif; }

input:focus,
select:focus,
textarea:focus,
button:focus,
div:focus,
div:active {
  outline: none;
  outline: 0; }

* {
  outline: none;
  outline: 0; }

.clear {
  clear: both; }

.master-body {
  background-color: #f8f8f8;
  max-width: 100%;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  color: #32343c;
  min-height: 1000px; }
  .master-body .header-frame {
    width: 100%;
    min-height: 200px;
    position: relative;
    background: -webkit-linear-gradient(309deg, #50d6b6 0%, #43bdab 68%, #36a49f 100%);
    background: -o-linear-gradient(309deg, #50d6b6 0%, #43bdab 68%, #36a49f 100%);
    background: linear-gradient(39deg, #50d6b6 0%, #43bdab 68%, #36a49f 100%);
    overflow: hidden; }
    .master-body .header-frame:after {
      position: absolute;
      content: "";
      width: 32vw;
      height: 80%;
      right: 0;
      bottom: -20px;
      background-image: url("../images/header-background.png");
      background-size: 100%; }
  .master-body .master-frame {
    position: relative;
    margin-top: -40px;
    width: calc(100% - 0px); }
    .master-body .master-frame .left-panel {
      width: 70px;
      height: 100vh;
      float: left;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 4;
      transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1); }
      .master-body .master-frame .left-panel .main-menu {
        background: #fff;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        box-shadow: 0 3px 30px rgba(0, 0, 0, 0.1), 0 3px 20px rgba(0, 0, 0, 0.1);
        transition: all 0.5s ease-in-out; }
        .master-body .master-frame .left-panel .main-menu .logo-icon {
          width: 40px;
          height: 45px;
          margin: 40px auto;
          /* background-image: url("../images/logo-1.png"); */
          background-size: cover;
          background-position: left;
          transition: all 0.4s ease-in-out;
          z-index: 6;
          position: relative; }
          .master-body .master-frame .left-panel .main-menu .logo-icon.submenu-active {
            margin-left: 20px !important;
            width: 180px !important;
            height: 40px !important;
            transition: all 0.5s ease-in-out; }
        .master-body .master-frame .left-panel .main-menu ul.menu-list {
          list-style: none;
          padding: 0;
          margin: 0; }
          .master-body .master-frame .left-panel .main-menu ul.menu-list li {
            width: 100%;
            text-align: center;
            padding: 5px 0px;
            margin: 10px 0;
            cursor: pointer;
            position: relative;
            transition: all 0.2s ease-in-out;
            box-shadow: inset 5px 0px #50d6b6;
            color: #50d6b6; }
            .master-body .master-frame .left-panel .main-menu ul.menu-list li.inactive {
              box-shadow: inset 5px 0px transparent;
              color: #32343c; }
            .master-body .master-frame .left-panel .main-menu ul.menu-list li:hover {
              color: #50d6b6;
              background: rgba(55, 55, 55, 0.05);
              transition: all 0.2s ease-in-out; }
            .master-body .master-frame .left-panel .main-menu ul.menu-list li i {
              font-size: 20px; }
            .master-body .master-frame .left-panel .main-menu ul.menu-list li .caption {
              opacity: 0;
              position: absolute;
              width: 100%;
              left: 0;
              top: 15px;
              font-family: Open Sans;
              font-weight: 400;
              font-size: 0.8em;
              transition: all 0s ease-in-out; }
      .master-body .master-frame .left-panel.submenu-active {
        width: 110px;
        transition: all 0.2s linear;
        box-shadow: 0 3px 30px rgba(0, 0, 0, 0.1), 0 3px 20px rgba(0, 0, 0, 0.1); }
        .master-body .master-frame .left-panel.submenu-active .main-menu {
          box-shadow: 0 0 rgba(0, 0, 0, 0);
          transition: all 0.4s ease-in-out; }
          .master-body .master-frame .left-panel.submenu-active .main-menu:before {
            position: absolute;
            right: 0px;
            top: 0;
            height: 119px;
            width: 2px;
            background: #fff;
            content: "";
            z-index: 2; }
          .master-body .master-frame .left-panel.submenu-active .main-menu ul.menu-list li {
            border-top: 1px solid rgba(55, 55, 55, 0.07);
            padding: 10px 0;
            margin: 0px 0; }
            .master-body .master-frame .left-panel.submenu-active .main-menu ul.menu-list li:last-child {
              border-bottom: 1px solid rgba(55, 55, 55, 0.07); }
            .master-body .master-frame .left-panel.submenu-active .main-menu ul.menu-list li i {
              transform: scale(1.1); }
            .master-body .master-frame .left-panel.submenu-active .main-menu ul.menu-list li .caption {
              opacity: 1;
              top: 5px;
              position: relative;
              transition: all 0.4s ease-in-out; }
      .master-body .master-frame .left-panel .sub-menu {
        width: 220px;
        height: 100vh;
        background: #fff;
        position: absolute;
        z-index: 1;
        left: 110px;
        top: 0;
        transform: translateX(-120%);
        transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1); }
        .master-body .master-frame .left-panel .sub-menu.submenu-active {
          transform: translateX(0%);
          box-shadow: 0 3px 30px rgba(0, 0, 0, 0.1), 0 3px 20px rgba(0, 0, 0, 0.1);
          transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1); }
        .master-body .master-frame .left-panel .sub-menu .inner {
          padding: 20px;
          border-top: 1px solid rgba(55, 55, 55, 0.07);
          min-height: 100%;
          border-left: 1px solid rgba(55, 55, 55, 0.07);
          margin-top: 120px; }
        .master-body .master-frame .left-panel .sub-menu .submenu-tab {
          width: 100%;
          position: relative; }
          .master-body .master-frame .left-panel .sub-menu .submenu-tab ul {
            margin: 0;
            padding: 0;
            position: relative; }
            .master-body .master-frame .left-panel .sub-menu .submenu-tab ul li {
              width: 100%;
              padding: 10px 5px;
              list-style: none;
              font-size: 0.85em;
              transition: all 0.2 linear; }
              .master-body .master-frame .left-panel .sub-menu .submenu-tab ul li i {
                margin-right: 5px; }
              .master-body .master-frame .left-panel .sub-menu .submenu-tab ul li.active {
                color: #50d6b6; }
              .master-body .master-frame .left-panel .sub-menu .submenu-tab ul li:hover {
                opacity: 0.6; }
    .master-body .master-frame .right-panel {
      width: calc(100% - 70px);
      min-height: 600px;
      padding-bottom: 40px;
      margin-left: 70px;
      position: relative;
      float: right;
      z-index: 1;
      transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1); }
      .master-body .master-frame .right-panel.submenu-active {
        width: calc(100% - 330px);
        transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1); }

/*# sourceMappingURL=main.css.map */
