
.message{
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  text-transform: capitalize;
  cursor: pointer;
}

i {
    margin: 0 10px;
}
.info-msg {
  color: #059;
  background-color: #bef;
  text-transform: capitalize;
}
.success-msg {
  color: #270;
  background-color: #dff2bf;
}
.warning-msg {
  color: #9f6000;
  background-color: #feefb3;
}
.error-msg {
  color: #d8000c;
  background-color: #ffbaba;
}
