ul{
  list-style-type:none;
  padding:0;
  margin:0;
}
        .pagination-box {
            text-align: center;
            margin-top: 150px;
        }

        .pagination {
            display: inline-flex;
            position: relative;
            overflow: hidden;
            border-radius: 0;
        }

        .pagination li a,
        .pagination li:first-child a,
        .pagination li:last-child a {
            border:none;
            height: 40px !important;
            width: 40px !important;
            display: inline-block;
            line-height: 35px;
            border-radius:50%;
            background-color: transparent;
            color: #36A49E;
            font-size: 20px;
            font-weight: 700;
            position: relative;
            overflow: hidden;
            letter-spacing: 1px;
            text-transform: uppercase;
            z-index: 1;
            margin: 0 8px 0 0;
            transition: all 0.4s ease 0s;
        }

        .pagination li a:before,
        .pagination li:first-child a:before,
        .pagination li:last-child a:before {
            content:"";
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            border: 2px solid #36A49E;
            border-radius:50%;
            opacity: 0;
            transform:scaleY(0);
            transition:all 0.3s ease 0s;
        }

        .pagination li a:hover:before,
        .pagination li.active a:before {
            transform:scaleY(1);
            opacity: 1;
        }

        .pagination li:last-child a {
            margin-right: 0;
        }

        .pagination li.active a,
        .pagination li a:hover,
        .pagination li.active a:hover {
            background-color: transparent;
            color: #36A49E;
            border:none;
        }
        @media only screen and (max-width: 480px){
            .pagination{ display: block; }
            .pagination li{
                display: inline-block;
                margin-bottom: 20px;
            }
        }